@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 0px;
}
body {
  width: 100vw;
  height: 100vh;
}
nav{
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
a{
  padding: 10px;
  color: white;
  text-decoration: none;
}
a:hover{
  border-radius: 5px;
  padding: 8px;
  background-color: rgb(31, 31, 31);
}
section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.816);
  color: white;
}
#home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-image: url('/imagens/fundo0.jpeg');
}
div#nome {
  font-family: monospace;
  font-variant: small-caps;
  position: absolute;
  top: 250px;
  left: 100px;
  font-size: 60px;
  display: flex;
  flex-flow: column wrap;
}